nav {
  background-color: rgb(78, 78, 78);
  padding: 6px 6px 3px 6px;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  z-index: 99;
}
.logo {
  height: 50px;
  width:auto;
  /* position: absolute; */
  transition: box-shadow .3s;
  z-index: 2;
}
.logo:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.88)
}
.navlinks {
  margin: 8px 8px 8px 8px;
  color: whitesmoke;
  font-weight: 400;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 21px;
  z-index: 1;
}
.navlinks:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.88)
}
.navlist {
  /* position: relative; */
  margin-left: -25px;
  z-index: 1;
}
.pholder {
  color: #ffdcf0;
  opacity: 0;
  
}
body {
  background-color: #ffdcf0;
  /* background-image: radial-gradient( #ffdcf0,#997289); */
}
.home {
  margin-top: 50px;
  width: 70%;
  height: 100%;
  margin: 80px auto;
  text-align: center;
  color:gray;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:20px;
}
.title {
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-stretch: wider;
  text-shadow: 0 0 2.5px black;
}
.quote {
  font-style: oblique;
  line-height: 1.25;
  font-size: 20px;
  margin-top: 40px;
}
.putin {
  border-radius: 10px;
  border: solid black;
  margin-top: -50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.88)
}
.peopleList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -5vh;
}
/* .peopleListItems {

} */
.personsImgs {
  border-radius: 20px;
  border: solid black;
  height: 25vh;
  width:auto;
  margin: 12px 12px 12px 12px;
  transition: box-shadow .3s;
}
.personsImgs:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.88)
}
.load {
  display: flex;
  margin: 280px auto;
  font-size: 150px;
  color:gray;
  animation: loading ease-in-out 3s;
  animation-iteration-count: infinite;
  animation-fill-mode:both;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@keyframes loading {
  0% {
    opacity: 0.1;
  }
  50% {
      opacity: 1;
  }
  100% {
    opacity: 0.1;
}
}
.close {
  position: absolute;
  color: black;
  float: right;
  /* margin-right: -50px; */
  text-decoration: none;
  text-align:end;
}
.personsInfo {
  width: 50%;
  height: 52vh;
  margin-top: 5%;
  margin-left: 24%;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(253, 253, 253);
  border-radius: 12px;
  border: solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.88);
  padding-right: 6px;
  padding-bottom: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  animation: appear ease-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
}
@keyframes appear {
  0% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
}
}
.personsImgsInfo {
  border-radius: 10px;
  border: groove black;
  border-width: 1px 3px 3px 1px;
  height: 38vh;
  width: auto;
  margin: 0;
  float:left;
}
.imgBox {
  height: 100%;
  width: 16vw;
  border-right:1em solid transparent;
  float:left;
  display: flex;
  flex-direction: column;
}
.dob {
  margin-top: -5px;
}
.personName {
  font-size: 40px;
  text-decoration: underline;
  font-weight: 0;
  margin-top: 20px;
}
.personPosition {
  border-bottom: solid rgba(0, 0, 0, 0.157);
  padding:5px;
  margin-top: -18px
}
.personReasoning {
  line-height: 1.3;
  font-size: 16px;

}
.dates {
  font-weight: 900;
}
.background {
  background-image: url(https://github.com/individual-ism/api-project/raw/main/Ukraine_Flag.jpg);
  height: 100vh;
  width: 100vw;
  position: fixed;
  margin: 0 auto;
  background-size: cover;
  z-index: -1;
  margin-top: -60px;
  background-position: center;
}
.buttons {
  height: 50px;
  width: 50%;
  margin-top: 75vh;
  margin-left: 39vw;
  position: absolute;
  display: flex;
  animation: appear ease-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
}
.button {
  margin: 20px;
  font-size: 30px;
  border-radius: 8px;
  padding: 2px;
}
.button:hover {
  box-shadow: 0 0 15px rgba(255, 28, 28, 0.88)
}
.createForm {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 15vh;
  margin-left: 43vw;
  flex-direction: column;
  width: 200px;
}
.inputs {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}